@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Lato';
}
body {
  background-color: #001620;
  height: 1150px;
}
li {
  color: rgb(44, 201, 83);
}
ul {
  margin-left: 20px;
  list-style-type: circle;
}
header
{
  width: 100%;
  padding: 30px;
  z-index: 1000;
  display: flex;
  font-size: 10px;
  width: 100%;
}
header .logo
{
  color: #fff;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
}
p.logo {
  text-align: center;
  font-size:15px;
  padding: 5px;
}
#header div .logos
{
  color: #fff;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  margin-top: 0px;
}
.showcase
{
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  background: #001620;
  transition: 0.5s;
  z-index: 2;
}
.overlay
{
  position: absolute;
  width: 100%;
  mix-blend-mode: overlay;
}
.box {
    background-color: #03a9f4;
}
.link {
    color: white;
    text-decoration: none;
}
.link:hover {
  transition: all 0.5s ease;
  color: orange;
  font-weight: bold;
  text-shadow: 5px 10px 15px rgb(111, 194, 136);
}
#c1 {
    background-image: url(/resources/background1.jpg);
    background-size: cover;
    -webkit-box-shadow: 0px 0px 37px 43px rgba(1, 32, 46);
    -moz-box-shadow: 0px 0px 37px 43px rgba(1, 32, 46);
    box-shadow: 0px 0px 37px 43px rgb(1, 32, 46);
    padding: 15px;
    width: 100%;
    margin: 0 auto;
}
#c2 {
    background-image: url(/resources/background1.jpg);
    padding: 15px;
    border-radius: 15px;
    width: 100%;
}
div #cc1 {
    background: gray;
    padding: 15px;
    border-radius: 15px;
    width: 100%;
}
div #cc2 {
    background: gray;
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    opacity: 70%;
}
div div#cc2 p b {
  text-decoration:dashed
}
div#header {
  display: inline-block;
}