.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  visibility: hidden;
  opacity: 50%;
  width: 100vw;
  height: 100vh;
  top: 0;
  margin: 0;
  left: 0;
  background-color: #001620;
  transition: opacity 400ms ease-in-out, visibility 0s 400ms;
}
.show-preloader {
  visibility: visible;
  opacity: 1;
}


.flipping {
  width: 67.2px;
  height: 67.2px;
  display: flex;
  animation: flipping-3iprjsmd 2s infinite linear;
}

.flipping::before,
.flipping::after {
  content: "";
  flex: 1;
  animation: flipping-mewig5md 1s infinite linear alternate,
         flipping-z80hpfmd 2s infinite linear -0.5s;
}

.flipping::after {
  --s: -1,-1;
}

@keyframes flipping-3iprjsmd {
  0%, 49.99% {
     transform: scaleX(1)  rotate(0deg);
  }

  50%, 100% {
     transform: scaleX(-1) rotate(-90deg);
  }
}

@keyframes flipping-mewig5md {
  0%, 5% {
     transform: scale(var(--s,1)) translate(0px)   perspective(168px) rotateY(0deg);
  }

  33% {
     transform: scale(var(--s,1)) translate(-11.2px) perspective(168px) rotateX(0deg);
  }

  66% {
     transform: scale(var(--s,1)) translate(-11.2px) perspective(168px) rotateX(-180deg);
  }

  95%, 100% {
     transform: scale(var(--s,1)) translate(0px)   perspective(168px) rotateX(-180deg);
  }
}

@keyframes flipping-z80hpfmd {
  0%, 49.99% {
     background: #474bff;
  }

  50%, 100% {
     background: #ff6761;
  }
}